@model ASPMVCSampleBlog.Models.AboutModel
@{
    ViewBag.Title = "About";
}
<h2>@Model.AppTitle</h2>
<h3>Framework Version: @Model.FrameworkVersion</h3>

<p>This is a ASP.NET MVC Sample Application.</p>
